<script src="{{ asset('bundles/obhighcharts/js/highcharts/highcharts.js') }}"></script>
<script src="{{ asset('bundles/obhighcharts/js/highcharts/modules/exporting.js') }}"></script>
<script type="text/javascript">
    {{ chart(chart) }}
</script>

<div id="{{ User.username }}" style="min-width: 200px; height: 200px; margin: 0 auto"></div>