{% extends('TaskeetMainBundle::base_admin.html.twig') %}

{% block body %}
    <div class="row-fluid">
        <div class="span4">
            {{ render(controller('TaskeetMainBundle:Ticket/List:miniList', {'Tickets':User.tasks}))}}
        </div><!--/span-->
        <div id="dashboard-content" class="span4">
            {{ render(controller('TaskeetMainBundle:Event/List:miniList'))}}
        </div><!--/span-->
        <div class="span4">
            {{ render(controller('TaskeetMainBundle:Project/List:miniList', {'Projects':User.projects}))}}
        </div><!--/span-->
    </div><!--/row-->
{% endblock %}