{% extends('TaskeetMainBundle::base_admin.html.twig') %}

{% from 'TaskeetMainBundle:TicketList:macro.html.twig' import list as tlist %}
{% from 'TaskeetMainBundle:ProjectList:macro.html.twig' import list as plist %}
{% from 'TaskeetMainBundle:EventList:macro.html.twig' import list as elist %}

{% block body %}
    <div class="row-fluid">

        <div class="span4">
            {{ tlist(User.tasks) }}
        </div><!--/span-->

        <div id="dashboard-content" class="span4">
            {{ elist(events) }}
        </div><!--/span-->

        <div class="span4">
            {{ plist(User.projects) }}
        </div><!--/span-->
    </div><!--/row-->
{% endblock %}